.board-page {
  height: calc(100% - 40px);
  position: relative;
  top: 40px;
  padding: 0 50px;
  overflow: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px;

    &-title {
      color: #fdbd56;
      font-weight: 900;
      font-family: "montserrat";
      text-transform: uppercase;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    & > * {
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }

  &__new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family: "montserrat";
    color: #fdbd56;

    &-title {
      font-weight: 800;
    }

    &-description {
      font-weight: 600;
    }

    &-image {
      width: 50%;
      margin: 25px auto;
      display: block;
    }
  }
}
