.board-page {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;
  top: 40px;
  padding: 25px 0;

  &__header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      color: #fdbd56;
      margin-left: 5px;
      font-weight: 700;
      font-family: "montserrat";
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & > * {
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }

  &__new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family: "montserrat";
    color: #fdbd56;

    &-title {
      font-weight: 800;
    }

    &-description {
      font-weight: 600;
    }

    &-image {
      width: 50%;
      margin: 25px auto;
      display: block;
    }
  }
}
