.board-page {
  width: 80%;
  height: 100%;
  margin-left: 10%;

  &__header {
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    
    &-title {
      color: #fdbd56;
      margin-left: 5px;
      font-weight: 700;
      font-family: 'montserrat';
    }
  }
  
  &__container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
  }

  &__custom-card {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family: 'montserrat';
    color: #fdbd56;

    &-title {
      font-weight: 800;
    }

    &-description {
      font-weight: 600;
    }

    &-image {
      width: 50%;
      margin: 25px auto;
      display: block;
    }
  }
}
