.board-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin-top: 20px;

  &__header {
    width: 73%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    
    &-title {
      color: #42526e;
      margin-left: 5px;
      font-weight: 700;
      font-family: 'montserrat';
    }
  }
  
  &__container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 73%;
  
    &-content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__custom-card {
    margin: 5px;
  }
}
