html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
div {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
}

hr {
  border: 0;
  border-bottom: 1px solid #a5a5a5bb;
}

input {
  max-width: 100%;
  min-height: 30px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 5px 0;
}

form {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 5px 30px;
  background-color: #084970;
  color: #fff;
  font-family: 'montserrat';
  border: 1px solid #063754;
  border-radius: 4px;
  height: min-content;
  cursor: pointer;

  &:hover {
    background-color: #063754;
  }
}

.btn-block {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}

.ct-toast {
  padding: 0px 20px !important;
}
