@import "./styles/forms.scss";
@import './styles/typography.scss';
@import './styles/buttons.scss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
}

hr {
  border: 0;
  border-bottom: 1px solid #a5a5a5bb;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}

.ct-toast {
  padding: 0px 20px !important;
}
