.list {
  background-color: #dedede;
  height: min-content;
  width: 225px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;

  hr {
    margin: .5rem 0;
  }

  &__header {
    padding: 5px 0;

    &-title {
      overflow-wrap: break-word;
      font-family: 'montserrat';
      margin: 5px 0;
    }
  }

  &__body {
    margin: 10px 0;
  }
}