@import '../../styles/colors.scss';

.list {
  background-color: $app-primary-light;
  height: 80%;
  width: 60vw;
  margin: 5px;
  position: relative;
  border: 2px solid #FFD187;

  @media (min-width: 992px) {
    width: 272px;
    height: min-content;
  }

  &__delete-icon {
    position: absolute;
    top: 8px;
    right: 15px;
    color: #ffffff;
    cursor: pointer;
  }

  &__header {
    padding: 10px 10px 5px;
    color: $app-secondary;

    &-title {
      overflow-wrap: break-word;
      font-family: 'montserrat';
      margin: 0;
      font-weight: 800;
    }
  }
}