.task {
  &__title {
    font-family: "Montserrat", sans-serif;
    overflow-wrap: break-word;
    max-width: 85%;
    margin: 0;
    font-weight: 400;
  }

  &__icons {
    display: flex;
  }
  
  &__icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: .5s all;

    &:hover {
      background-color: #dedede;
    }
  }
}
