.list {
  background-color: #dedede;
  height: min-content;
  width: 225px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;

  hr {
    margin: .5rem 0;
  }

  &__column {
    max-height: 350px;
    padding: 5px 0;
    overflow-y: auto;
  }
}