.loading {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    &--hidden {
        display: none;
    }
}