.taskcard {
  background-color: #ffffff;
  border: 1px solid #eee;
  width: 100%;
  height: 100px;
  transition: 0.5s all;
  padding: 10px;
  display: flex;
  cursor: pointer;
  
  &__title {
    align-self: flex-end;
    margin: 0;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #42526e;
  }
}
