appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
distlib==0.3.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
iniconfig==1.0.1
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==6.0.2
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.10
virtualenv==20.0.33
