.create-list {
  margin: 5px;
  opacity: 0.5;
  transition: 0.5s all;
  background-color: #dedede;
  padding: 10px;
  width: 225px;
  height: min-content;
  position: relative;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }

  &__header {
    padding: 5px 0;

    &-title {
      padding: 5px 0;
      font-family: "montserrat";
      margin: 0;
      text-transform: capitalize;
    }
  }

  hr {
    margin: 0.5rem 0 0.5rem 0;
  }
}
