@import "../../styles/colors.scss";

.landing {
  background-color: $app-primary;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  &__nav {
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;

    &-logo {
      font-size: 46px;
      font-family: montserrat;
      font-weight: 800;
      margin: 0;
      margin-left: 20px;
      color: $app-secondary;
    }

    &-login {
      color: $app-secondary;
      font-weight: 600;
      margin: 0 30px;
    }
  }

  &__body {
    display: flex;
    height: 100%;
    color: $app-secondary;
    padding: 0 20px;
    align-items: center;

    &-left {
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;

      @media (min-width: 992px) {
        width: 40%;
      }
    }

    &-image {
      bottom: 0;
      width: 60%;
      position: absolute;
      display: block;
      right: -130px;
    }

    &-label {
      background-color: $app-secondary;
      color: $app-primary;
    }

    &-title {
      font-family: "montserrat";
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
    }

    &-description {
      font-family: "arial";
      line-height: 1.2;
      font-weight: 600;
    }
  }
}
