.create-board-modal {
  &__header {
    position: relative;
    width: 100%;
    padding: 5px 0;

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transform: translate(0, 2px);
    }
  }
}