@import "../../styles/colors.scss";

.boardcard {
  width: 300px;
  background-color: $app-secondary;
  border: 1px solid $app-primary;
  position: relative;

  &:hover {
    .boardcard {
      &__header {
        background-color: #fdd156;
      }
    }
  }

  &__delete-icon {
    position: absolute;
    top: 11px;
    right: 15px;
    color: #ffffff;
    cursor: pointer;
  }

  &__header {
    width: 100%;
    min-height: 40px;
    background-color: $app-primary;
    display: flex;
    align-items: center;

    &-title {
      margin: 0;
      margin-left: 15px;
      text-transform: uppercase;
      font-family: "montserrat";
      font-weight: 600;
      color: #ffffff;
    }
  }

  &__body {
    padding: 15px;

    &-item {
      margin: 0;
      font-size: 12px;
      text-decoration: none;
      color: #000;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &-icon {
      width: 25px;
    }
  }
}
