input {
  max-width: 100%;
  min-height: 30px;
  border: 1px solid #eee;
  margin: 5px 0;
}

form {
  width: 100%;
}

textarea {
  height: auto;
  border: 1px solid #eee;
  padding: 5px;
  font-family: sans-serif;
}
