$theme-colors: (
        "brand": #fdbd56,
        "brand-secondary": #084970,
);

@import "node_modules/bootstrap/scss/bootstrap";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}