.oauth-github {
    width: 165px;
    height: 25px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 54px;
    cursor: pointer;
    margin: 10px 0;

    &:hover {
        background-color: #212121;
    }

    &__text {
        margin: 0;
        font-size: 13px;
    }

    &__icon {
        margin: 0 10px;
    }
}
